
<div class="comment-form border-0{%- if include.type == "primary" -%}border-rounded w-100 mx-auto p-3{% else %}card-footer py-3{%- endif -%}" style="background-color: #f8f9fa; display: none;">
    <div class="d-flex flex-start w-100">
        <div class="form-outline w-100">
            <label class="form-label" for="comment-message">Message:</label>
            <textarea class="form-control" id="comment-message" rows="4" style="background: #fff;" required="required"></textarea>
            <div class="valid-feedback" style="display: none;">Looks good!</div>
            <div class="invalid-feedback" style="display: none;">Cannot post an empty comment.</div>
        </div>
    </div>
    <div class="float-end mt-2 pt-1">
        <button type="button" class="btn btn-primary btn-sm post-comment">Post</button>
        <button type="button" class="btn btn-outline-primary btn-sm post-cancel">Cancel</button>
    </div>
</div>