<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-toggle">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item{% if page.url contains "/recents/" %} active{% endif %}">
                    <a class="nav-link" href="{{ site.baseurl | append: 'recents/' }}" {% if page.url contains "/recents/" %}aria-current="page"{% endif %}>Recent Posts</a>
                </li>
                <li class="nav-item{% if page.url contains "/posts/" %} active{% endif %}">
                    <a class="nav-link" href="{{ site.baseurl | append: 'posts/' }}" {% if page.url contains "/posts/" %}aria-current="page"{% endif %}>All Posts</a>
                </li>
                <li class="nav-item{% if page.url contains "/about/" %} active{% endif %}">
                    <a class="nav-link" href="{{ site.baseurl | append: 'about/' }}" {% if page.url contains "/about/" %}aria-current="page"{% endif %}>About</a>
                </li>
            </ul>
            {%- include search-form.html -%}
        </div>
    </div>
</nav>