{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}
{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign categories_max = 0 %}
{% for category in site.categories %}
    {% if category[1].size > categories_max %}
        {% assign categories_max = category[1].size %}
    {% endif %}
{% endfor %}

<div class="btn-group" role="group" aria-label="Categories List">
    {% for i in (1..categories_max) reversed %}
        {% for category in site.categories %}
            {% assign category_size = category[1].size %}
            {% if category_size == i %}
                {% assign category_name = category | first %}
                    <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">
                    <!-- <a href="{{ site.baseurl }}categories/{{ category_name | slugify | downcase }}">{{ category_name }}</a> -->
                    <a href="#{{ category_name | slugify | downcase }}">{{ category_name }}</a>
                    <span class="vr mx-2"></span>
                    <span class="badge rounded-pill bg-info text-light">{{ category_size }}</span>
                </span>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<hr>

{% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
        {%- assign name = category | first -%}
        {%- assign size = category | last | size -%}
        {%- if size == i -%}
            <section id="{{ name | slugify | downcase }}" class="mt-4">
                <h2 class="mb-0 px-2 border-bottom bg-dark text-light rounded-top">{{ name }}</h2>

                {%- for post in category.last -%}
                    {%- include post-partial.html class = "px-2 border border-top-0" -%}
                {%- endfor -%}
            </section>
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}