{% if post.header.teaser %}
    {% capture teaser %}
        {{ post.header.teaser }}
    {% endcapture %}
{% else %}
    {% assign teaser = site.teaser %}
{% endif %}
{% if post.id %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
    {% assign title = post.title %}
{% endif %}
{% assign excerpt = post.excerpt | markdownify | remove: "<p>" | remove: "</p>" | strip_html | default: "" %}

<div class="text-muted pt-3">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">
                <a href="{{ post.url | relative_url }}">{{ title }}</a>
            </strong>
            <a href="{{ post.url | relative_url }}">Read More</a>
        </div>
        <span class="d-block text-left">
            {% if excerpt %}
                {{ excerpt | truncate: 160 }}
            {% endif %}
        </span>
    </div>
</div>