{% if page.custom_inline_script %}
    <script>
        {{ page.custom_inline_script | strip_newlines }}
    </script>
{% endif %}
{% if page.custom_scripts %}
    {% for script_url in page.custom_scripts %}
        {%- assign leading_char = '?' -%}
        {%- comment -%}
            {% if script_url | contains: '?' %}
                {%- assign leading_char = '&' -%}
            {% endif %}
        {%- endcomment -%}
        <script src="{{ script_url }}{{ leading_char }}v={{ site.github.build_revision }}" type="text/javascript"></script>
    {% endfor %}
{% endif %}