<!-- begin _includes/scripts.html -->
<script src="/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script type="application/javascript" src="/assets/js/theme-toggle.js?v={{ '' | append: site.github.build_revision }}"></script>
<script type="application/javascript" src="/assets/js/core.js?v={{ '' | append: site.github.build_revision }}"></script>

{% if site.scripts %}
    {% for script in site.scripts %}
        <script src="{{ script | relative_url }}" type="text/javascript"></script>
    {% endfor %}
{% endif %}
{% if page.script %}
    <script>
        {{ page.script }}
    </script>
{% endif %}
<!-- end _includes/scripts.html -->
