<!-- begin _includes/styles.html -->
<link rel="stylesheet" href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/vendor/jquery-ui/jquery-ui.min.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/vendor/fontawesome/css/all.min.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">

{% if site.styles %}
    {% for styles in site.styles %}
        <link rel="stylesheet" href="{{ script | relative_url }}">
    {% endfor %}
{% endif %}
<!-- end _includes/styles.html -->
