// Customize some defaults
$blue: #458588;
$indigo: #b16286;
$purple: #d3869b;
$pink: #fb4934;
$red: #cc2412;
$orange: #d65d0e;
$yellow: #d79921;
$green: #98971a;
$teal: #689d6a;
$cyan: #8ec07c;
$gray-100: #fbf1c7;
$gray-200: #ebdbb2;
$gray-300: #d5c4a1;
$gray-400: #bdae93;
$gray-500: #a89984;
$gray-600: #928374;
$gray-700: #7c6f64;
$gray-800: #665c54;
$gray-900: #504945;
$primary: #458588;
$secondary: #928374;
$success: #98971a;
$danger: #cc2412;
$warning: #d79921;
$info: #8ec07c;
$light: #fbf1c7;
$dark: #282828;

$body-bg: #282828;
$body-color: #fbf1c7;