---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@charset "utf-8";
@import "themes";
@import "highlight";

html {
    font-size: 85%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
    .avatar {
        max-width: 70% !important;
    }
}