---
layout: default
---

{% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
{% if page.excerpt %}
    <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}

<main>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                {{ page.title | markdownify | strip_html | strip_newlines | escape_once }}
            </h1>
            
            <p class="lead text-muted">
                {{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}
            </p>
        </div>
    </section>    
</main>