---
layout: default
---

{% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
{% if page.subtitle %}
    <meta itemprop="description" content="{{ page.subtitle | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
{% if page.date %}
    <meta itemprop="date-published" content="{{ page.date | date_to_xmlschema }}">
{% endif %}
{% if page.last_modified_at %}
    <meta itemprop="date-modified" content="{{ page.last_modified_at | date_to_xmlschema }}">
{% endif %}

<main role="main">
    <div class="position-relative overflow-hidden px-md-5 m-md-3 text-center border-bottom">
        <div class="col-7 px-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">
                {{ page.title | markdownify | strip_html | strip_newlines | escape_once }}
            </h1>
            
            <p class="lead font-weight-normal">
                {% if page.subtitle %}
                    {{ page.subtitle | markdownify | strip_html | strip_newlines | escape_once }}
                {% endif %}
            </p>
        </div>
    
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    
    <article class="container pt-2">
        {% if page.url != "/" and site.breadcrumbs %}
            {% unless paginator %}
                {% include breadcrumbs.html %}
            {% endunless %}
        {% endif %}
        
        {{ content }}
    </article>
</main>
