---
layout: default
---

{% if page.header.teaser %}
    {% capture teaser %}
        {{ page.header.teaser }}
    {% endcapture %}
{% else %}
    {% assign teaser = site.teaser %}
{% endif %}
{% if page.id %}
    {% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
    {% assign title = page.title %}
{% endif %}
{% assign excerpt = page.excerpt | markdownify | remove: "<p>" | remove: "</p>" | strip_html | default: "" %}

{%- if page.title -%}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
{%- if page.excerpt -%}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
{%- if page.date -%}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{%- endif -%}
{%- if page.last_modified_at -%}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{%- endif -%}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-dark">
        <h1 class="display-4">{{ title }}</h1>
        {%- if excerpt -%}
            <p class="lead text-muted">
                {{ excerpt }}
            </p>
        {%- endif -%}
    </div>
</div>

{%- if page.url != "/" and site.breadcrumbs -%}
    {% unless paginator %}
        {% include breadcrumbs.html path=page.path title=page.title %}
    {% endunless %}
{%- endif -%}

{%- include post.html -%}

<section class="tags">
    {%- for tag in post.tags -%}
        <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}" class="badge badge-primary">{{ tag }}</a>
    {%- endfor -%}
</section>
