---
layout: default
---

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<main class="container" role="main">
    <h3>All Posts</h3>
    
    {{ content }}
    
    {% assign categories_max = 0 %}
    {% for category in site.categories %}
        {% if category[1].size > categories_max %}
            {% assign categories_max = category[1].size %}
        {% endif %}
    {% endfor %}
    
    <div class="btn-group" role="group" aria-label="Categories List">
        {% for i in (1..categories_max) reversed %}
            {% for category in site.categories %}
                {% if category[1].size == i %}
                    <button type="button" class="btn btn-sm btn-secondary mr-1">
                        {{ category[0] }} <span class="badge badge-light">{{ i }}</span>
                        <span class="sr-only">posts</span>
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    
    <section>
        {% for post in posts %}
            {% include post/post.html type=entries_layout %}
        {% endfor %}
    </section>
</main>